.header{
    background-color:#7928ca;
    height: 80px;
    width: 100vw;
    position: relative;
    margin-top: 0px;
    overflow: hidden;
}
.titulo{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-top: 15px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    border-color: #000000;
    margin-left: 70px;
}
.logo{
    height: 80px;
    float: left;
}